asgiref==3.2.3
Django==3.0.3
django-background-tasks==1.2.5
django-compat==1.0.15
djangorestframework==3.11.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.9
jdcal==1.4.1
mccabe==0.6.1
openpyxl==3.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
