
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/24cdc02051.js"></script>
    <!-- <script src="{% static "login.js" %}"></script> -->
    <title>Login</title>
</head>

<body>

    <div class="container h-100 w-100">
        <div class="row h-100 w-100 d-table d-flex justify-content-center align-items-center align-self-center">
            <div class="col-12">

                <div class="card">
                    <img class="w-25 d-flex align-self-center" src="{% static "logo.png" %}" alt="">
                    <div class="card-body">
                        <h2>Login</h2>
                        <form action="/login" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="username" type="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password">

                            </div>
                            <button class="btn btn-light" type="submit" onclick="showLoader()">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="lds-dual-ring loader" style="display:none;" id="loader" role="status">
  <span class="sr-only">Loading...</span>
</div>
</body>

</html>