{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}
  <b-container fluid>
    <b-row class="my-3">
      <b-col class="mb-lg-0 mb-3 col-lg-6 col-12">
        <b-card header="Create Customer" header-bg-variant="light">
          <b-card-text>
            Create a new user account of type customer.
          </b-card-text>
          <b-button variant="primary" data-toggle="modal" data-target="#creatCustomerModal">Create Customer</b-button>
        </b-card>
      </b-col>
      <b-col class="mb-lg-0 mb-3 col-lg-6 col-12">
        <b-card header="Create Staff" header-bg-variant="light">
          <b-card-text>
            Create a new user account of type staff.
          </b-card-text>
          <b-button variant="primary" data-toggle="modal" data-target="#createStaffModal">Create Staff</b-button>
        </b-card>
      </b-col>
    </b-row>
  </b-container>

<!-- Create Customer Modal -->
<div class="modal fade" id="creatCustomerModal" tabindex="-1" role="dialog" aria-labelledby="creatCustomerModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creatCustomerModalLabel">Create Customer Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'staffmodule-createCustomer' %}" method="post">
       <div class="modal-body">
        {% csrf_token %}
          <div class="form-group">
            <input id="username" name="username" type="text" class="form-control" placeholder="Username">
            <input id="passwordA" name="passwordA" type="password" class="form-control" placeholder="Password">
            <input id="passwordB" name="passwordB" type="password" class="form-control" placeholder="Re-enter Password">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email">
            <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name">
            <input name="last_name" type="text" class="form-control" placeholder="Last Name">
            <input name="charge_code" type="text" class="form-control" placeholder="Charge Code">
            <label for="deptselect">Department:</label>
            <select class="form-control" id="deptselect" name="department">
              {% for dept in departments %}
                <option value={{dept.id}}>{{dept.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" onclick="">Create Customer</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create Staff Modal -->
<div class="modal fade" id="createStaffModal" tabindex="-1" role="dialog" aria-labelledby="createStaffModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createStaffModalLabel">Create Staff Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'staffmodule-createStaff' %}" method="post">
       <div class="modal-body">
        {% csrf_token %}
          <div class="form-group">
            <input id="username" name="username" type="text" class="form-control" placeholder="Username">
            <input id="passwordA" name="passwordA" type="password" class="form-control" placeholder="Password">
            <input id="passwordB" name="passwordB" type="password" class="form-control" placeholder="Re-enter Password">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email">
            <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name">
            <input name="last_name" type="text" class="form-control" placeholder="Last Name">
            <input name="login_code" type="text" class="form-control" placeholder="Login Code">
            <label for="accessselect">Access Level:</label>
            <select class="form-control" id="accessselect" name="access_level">
              {% for level in access_levels %}
                <option value={{level.0}}>{{level.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" onclick="">Create Staff</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock page %}
