{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}
  <b-button-toolbar class="d-flex flex-row-reverse m-2">
    <b-button-group>
      <b-button variant="primary" data-toggle="modal" data-target="#addNewProductModal">
        <span class="mdi mdi-plus-thick"></span>
        Add New Product
      </b-button>
      <!--<b-button variant="primary" @click="filterProductsList()">
        <span class="mdi mdi-filter"></span>
        Filter
      </b-button>-->
      <b-button variant="primary" @click="generateProductLabelSheet()">
        <span class="mdi mdi-label"></span>
        Generate Label Sheet
      </b-button>
    </b-button-group>
  </b-button-toolbar>
  <b-table
    selectable
    striped
    responsive
    hover
    :fields="productFields"
    :items="products"
    :primary-key="'id'"
    ref="productsTable"
    @row-selected="onRowSelected"
  >
    <!-- Format price integer as currency -->
    <template v-slot:cell(price)="data">
      [[ formatAsCurrency(data.value) ]]
    </template>
    <!-- Format is_chemical as tick/cross -->
    <template v-slot:cell(is_chemical)="data">
      <span v-if="data.value" class="mdi mdi-check"></span>
      <span v-if="!data.value" class="mdi mdi-close"></span>
    </template>
    <!-- Format for_sale as tick/cross -->
    <template v-slot:cell(for_sale)="data">
      <span v-if="data.value" class="mdi mdi-check"></span>
      <span v-if="!data.value" class="mdi mdi-close"></span>
    </template>
    <!-- Buttons per item -->
    <template v-slot:cell(buttons)="row">
      <b-button size="sm" @click="editProduct(row.item.id)" class="mr-2" variant="primary">
        <span class="mdi mdi-pencil"></span>
        Edit
      </b-button>
      <b-button size="sm" @click="generateProductQR(row.item.id)" class="mr-2" variant="primary">
        <span class="mdi mdi-qrcode"></span>
        Show QR
      </b-button>
    </template>
  </b-table>

  <b-modal
    id="bv-modal-product"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>
      Edit Product
    </template>
    <div class="d-block text-center">
      <div>Name: [[ selectedEditProductName ]]</div>
      <div>Price: [[ formatAsCurrency(selectedEditProductPrice) ]]</div>
      <div>Warning Quantity: [[ selectedEditProductWarningQuantity ]]</div>
      <div>Is Chemical: [[ selectedEditProductIsChemical ]]</div>
      <div>Pack Size: [[ selectedEditProductPackSize ]]</div>
      <div>For Sale: [[ selectedEditProductForSale ]]</div>
    </div>
  </b-modal>

  <!-- Add New Product Modal -->
  <div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="addNewProductModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewProductModalLabel">Add New Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <b-form action="{% url 'staffmodule-addProduct' %}" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <b-form-group id="input-group-1" label="Code:" label-for="input-1" description="">
              <b-form-input id="input-1" type="text" required name="code"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2" label="Name:" label-for="input-2" description="">
              <b-form-input id="input-2" type="text" required name="name"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-3" label="Price (in pence):" label-for="input-3" description="">
              <b-form-input id="input-3" type="number" min="0" required name="price"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-4" label="Warning Quantity:" label-for="input-4" description="">
              <b-form-input id="input-4" type="number" min="0" required name="warning_quantity"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-5" label="" label-for="input-5" description="">
              <b-form-checkbox id="input-5" name="is_chemical" value="1">Is Chemical</b-form-checkbox>
            </b-form-group>
            <b-form-group id="input-group-6" label="Pack Size:" label-for="input-6" description="">
              <b-form-input id="input-6" type="number" min="0" required name="pack_size"></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-7" label="" label-for="input-7" description="">
              <b-form-checkbox id="input-7" name="for_sale" value="1">For Sale</b-form-checkbox>
            </b-form-group>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" onclick="">Add Product</button>
          </div>
        </b-form>
      </div>
    </div>
  </div>

  <b-modal
    id="bv-modal-filter-products-list"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>Filter Products List</template>
    <div class="d-block text-center">

    </div>
  </b-modal>

  <b-modal
    id="bv-modal-product-qr-code"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>QR Code</template>
    <div class="d-block text-center">
      <span id="selectedProductQrContainer" v-html="selectedProductQr"></span>
    </div>
  </b-modal>

  <b-modal
    id="bv-modal-product-label-sheet-select-products"
    centered
    :header-bg-variant="'warning'"
    :header-text-variant="'dark'"
  >
    <template v-slot:modal-title>No Products Selected</template>
    <div class="d-block text-center">
      Select some products by clicking on their rows.
    </div>
    <template v-slot:modal-footer="{ ok }">
      <b-button variant="warning" @click="ok()">OK</b-button>
    </template>
  </b-modal>
{% endblock page %}
