{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}
  <b-button-toolbar class="d-flex flex-row-reverse m-2">
    <b-button-group>
      <b-button variant="primary" @click="addNewProduct()">
        <span class="mdi mdi-plus-thick"></span>
        Add New Product
      </b-button>
      <!--<b-button variant="primary" @click="filterProductsList()">
        <span class="mdi mdi-filter"></span>
        Filter
      </b-button>-->
      <b-button variant="primary" @click="generateProductLabelSheet()">
        <span class="mdi mdi-label"></span>
        Generate Label Sheet
      </b-button>
    </b-button-group>
  </b-button-toolbar>
  <b-table
    selectable
    striped
    responsive
    hover
    :fields="productFields"
    :items="products"
    :primary-key="'id'"
    ref="productsTable"
    @row-selected="onRowSelected"
  >
    <!-- Format price integer as currency -->
    <template v-slot:cell(price)="data">
      [[ formatAsCurrency(data.value) ]]
    </template>
    <!-- Format is_chemical as tick/cross -->
    <template v-slot:cell(is_chemical)="data">
      <span v-if="data.value" class="mdi mdi-check"></span>
      <span v-if="!data.value" class="mdi mdi-close"></span>
    </template>
    <!-- Format for_sale as tick/cross -->
    <template v-slot:cell(for_sale)="data">
      <span v-if="data.value" class="mdi mdi-check"></span>
      <span v-if="!data.value" class="mdi mdi-close"></span>
    </template>
    <!-- Buttons per item -->
    <template v-slot:cell(buttons)="row">
      <b-button size="sm" @click="editProduct(row.item.id)" class="mr-2" variant="primary">
        <span class="mdi mdi-pencil"></span>
        Edit
      </b-button>
      <b-button size="sm" @click="generateProductQR(row.item.id)" class="mr-2" variant="primary">
        <span class="mdi mdi-qrcode"></span>
        Show QR
      </b-button>
    </template>
  </b-table>

  <b-modal
    id="bv-modal-product"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>
      Edit Product
    </template>
    <div class="d-block text-center">
      <div>Name: [[ selectedEditProductName ]]</div>
      <div>Price: [[ formatAsCurrency(selectedEditProductPrice) ]]</div>
      <div>Warning Quantity: [[ selectedEditProductWarningQuantity ]]</div>
      <div>Is Chemical: [[ selectedEditProductIsChemical ]]</div>
      <div>Pack Size: [[ selectedEditProductPackSize ]]</div>
      <div>For Sale: [[ selectedEditProductForSale ]]</div>
    </div>
  </b-modal>

  <b-modal
    id="bv-modal-add-new-product"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>Add New Product</template>
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <b-form-group
        label="Code"
        label-for="code-input"
        invalid-feedback="Code is required"
      >
        <b-form-input
          id="code-input"
          v-model="addNewProductCode"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Name"
        label-for="name-input"
        invalid-feedback="Name is required"
      >
        <b-form-input
          id="name-input"
          v-model="addNewProductName"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Price"
        label-for="price-input"
        invalid-feedback="Price is required"
      >
        <b-form-input
          id="price-input"
          v-model="addNewProductPrice"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="Warning Quantity"
        label-for="warning-quantity-input"
        invalid-feedback="Warning quantity is required"
      >
        <b-form-input
          id="warning-quantity-input"
          v-model="addNewProductIsChemical"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group>
        <b-form-checkbox
          id="checkbox-1"
          v-model="status"
          name="is-chemical-input"
          value="true"
          unchecked-value="false"
        >
          Is Chemical
        </b-form-checkbox>
      </b-form-group>
      <b-form-group
        label="Pack Size"
        label-for="pack-size-input"
        invalid-feedback="Pack size is required"
      >
        <b-form-input
          id="pack-size-input"
          v-model="name"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label="For Sale"
        label-for="for-sale-input"
        invalid-feedback="For sale is required"
      >
        <b-form-input
          id="for-sale-input"
          v-model="name"
          required
        ></b-form-input>
      </b-form-group>
    </form>
  </b-modal>

  <b-modal
    id="bv-modal-filter-products-list"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>Filter Products List</template>
    <div class="d-block text-center">

    </div>
  </b-modal>

  <b-modal
    id="bv-modal-product-qr-code"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>QR Code</template>
    <div class="d-block text-center">
      <span id="selectedProductQrContainer" v-html="selectedProductQr"></span>
    </div>
  </b-modal>

  <b-modal
    id="bv-modal-product-label-sheet-select-products"
    centered
    :header-bg-variant="'warning'"
    :header-text-variant="'dark'"
  >
    <template v-slot:modal-title>No Products Selected</template>
    <div class="d-block text-center">
      Select some products by clicking on their rows.
    </div>
    <template v-slot:modal-footer="{ ok }">
      <b-button variant="warning" @click="ok()">OK</b-button>
    </template>
  </b-modal>
{% endblock page %}
