{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}
  <b-container fluid>
    <b-row class="mt-1">
      <b-col class="mb-lg-0 mb-3 col-lg-7 col-12">
        <b-card header="Your details" header-bg-variant="light">
          <b-row class="">
            <b-col class="col-3">
              Username:
            </b-col>
            <b-col class="col-9">
              {{username}}
            </b-col>
            <b-col class="col-3">
              Access Level:
            </b-col>
            <b-col class="col-9">
              {{userAccessLevel}}
            </b-col>
            <b-col class="col-3">
              Name:
            </b-col>
            <b-col class="col-9">
              {{userFirstName}} {{userLastName}}
            </b-col>
            <b-col class="col-3">
              Login Code:
            </b-col>
            <b-col class="col-9">
              {{userlogincode}}
            </b-col>
            <b-col class="col-3">
              Email:
            </b-col>
            <b-col class="col-9">
              {{user_email}}
            </b-col>
            <b-col class="col-3">
              Last Login:
            </b-col>
            <b-col class="col-9">
              {{last_login}}
            </b-col>
          </b-row>
        </b-card>
      </b-col>
<b-col>
        <b-card header="Change password" header-bg-variant="light">
        <form action="{% url 'staffmodule-changePassword' %}" method="post">
        {% csrf_token %}
          
            <input id="oldPassword" name="oldPassword" type="password" class="form-control mb-2" placeholder="Old Password" required>
            <input id="newPassword" name="newPassword" type="password" class="form-control mb-1" placeholder="New Password" required>
            <input id="passwordB" name="passwordB" type="password" class="form-control" placeholder="Re-Enter Password" required>
            <div class="mt-2"> 
            <button class="btn btn-primary " type="submit" onclick="">Change password</button>
            </div>
        </form>
        </b-card>
      </b-col>
    </b-row>

  </b-container>
{% endblock page %}
