{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}

  <b-button-toolbar class="d-flex flex-row-reverse m-2">
  <template v-if="userAccessLevel == 'MA'">
      <b-button-group class="mx-1">
      <b-button variant="danger" @click="purgeReports()">
        <span class="mdi mdi-delete"></span>
        Purge Reports
      </b-button>
    </b-button-group>
  </template>
    <b-button-group class="mx-1">
      <b-button disabled variant="outline-dark" class="generate-button">
        Generate:
      </b-button>
      <b-button variant="primary" @click="generateSalesReport()">
        <span class="mdi mdi-file-percent"></span>
        Sales Report
      </b-button>
      <b-button variant="primary" @click="generateReturnsReport()">
        <span class="mdi mdi-file-restore"></span>
        Returns Report
      </b-button>
      <b-button variant="primary" @click="generateStockReport()">
        <span class="mdi mdi-file-chart"></span>
        Stock Report
      </b-button>
    </b-button-group>
  </b-button-toolbar>

  <b-list-group flush>
    <b-list-group-item v-for="report in reports" v-bind:id="'reportid'+report.id">

      <span v-if="report.report_type == 'ST'">
        <span class="mdi mdi-file-chart-outline"></span>
        Stock report,&nbsp;
      </span>
      <span v-if="report.report_type == 'SA'">
        <span class="mdi mdi-file-percent-outline"></span>
        Sales report,&nbsp;
      </span>
      <span v-if="report.report_type == 'RE'">
        <span class="mdi mdi-file-percent-outline"></span>
        Returns report,&nbsp;
      </span>

      [[ moment(report.created_date).format(dateTimeStringFormat) ]]
      <a :href="'?filename='+report.filename" class="mdi mdi-download" ></a>

    </b-list-group-item>
  </b-list-group>
  
  <b-modal
    id="bv-modal-report-submitted"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>
      Report Submitted!
    </template>
    <div class="d-block text-center">
      <div>Wait a few minutes for it to generate and you'll receive a notification soon.</div>
    </div>
  </b-modal>
<script>
window.addEventListener('load', function () {
    var rid = getUrlVars()["id"];
    if (typeof rid !== 'undefined'){
      var report = document.getElementById('reportid'+rid);
      window.scrollTo(0,report)
      report.style.backgroundColor ="#8ac6ff"
    }
})
</script>
{% endblock page %}
