{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block page %}
<script>
window.onload = function () {
    var rid = getUrlVars()["id"];
    if (typeof rid !== 'undefined'){
      var report = document.getElementById('reportid'+rid);
      report.scrollIntoView();
      report.style.backgroundColor ="#8ac6ff"
    }
  };
</script>
  <b-button-toolbar class="d-flex flex-row-reverse m-2">
    <b-button-group>
      <b-button disabled variant="outline-dark" class="generate-button">
        Generate:
      </b-button>
      <b-button variant="primary" @click="generateSalesReport()">
        <span class="mdi mdi-file-percent"></span>
        Sales Report
      </b-button>
      <b-button variant="primary" @click="generateReturnsReport()">
        <span class="mdi mdi-file-restore"></span>
        Returns Report
      </b-button>
      <b-button variant="primary" @click="generateStockReport()">
        <span class="mdi mdi-file-chart"></span>
        Stock Report
      </b-button>
    </b-button-group>
  </b-button-toolbar>

  <b-list-group flush>
    <b-list-group-item v-for="report in reports" v-bind:id="'reportid'+report.id">

      <span v-if="report.type == 'stock'">
        <span class="mdi mdi-file-chart-outline"></span>
        Stock report,&nbsp;
      </span>
      <span v-if="report.type == 'finance'">
        <span class="mdi mdi-file-percent-outline"></span>
        Finance report,&nbsp;
      </span>

      [[ moment(report.datetime).format(dateTimeStringFormat) ]]
      <a :href="report.filename" download>download</a>

    </b-list-group-item>
  </b-list-group>
  
  <b-modal
    id="bv-modal-report-submitted"
    centered
    :header-bg-variant="'primary'"
    :header-text-variant="'light'"
  >
    <template v-slot:modal-title>
      Report Submitted!
    </template>
    <div class="d-block text-center">
      <div>Wait a few minutes for it to generate and you'll receive a notification soon.</div>
    </div>
  </b-modal>
  
{% endblock page %}
