{% extends "staff.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}}
{% block head-inner %}
<style type="text/css">
  #qrCanvas {
    display: none;
  }

  #qrVideo {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
</style>
{% endblock head-inner %}
{% block page %}
  <b-container fluid>
    <b-row class="my-3">
      <b-col class="mb-lg-0 mb-3 col-lg-6 col-12">
        <b-card>
          <video id="qrVideo" autoplay></video>
        </b-card>
        <b-button variant="primary" @click="submitStockCheck()">Submit</b-button>
      </b-col>
    </b-row>
  </b-container>
  <canvas id="qrCanvas"></canvas>
  <script type="text/javascript">
    //
    //
    // ADAPTED FROM https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/gum/js/main.js
    //
    //
    // Put variables in global scope to make them available to the browser console.
    const constraints = window.constraints = {
      audio: false,
      video: true
    };

    function handleSuccess(stream) {
      const video = document.querySelector('#qrVideo');
      window.stream = stream; // make variable available to browser console
      video.srcObject = stream;
      draw()
    }

    function handleError(error) {
      if (error.name === 'ConstraintNotSatisfiedError') {
        const v = constraints.video;
        errorMsg(`The resolution ${v.width.exact}x${v.height.exact} px is not supported by your device.`);
      } else if (error.name === 'PermissionDeniedError') {
        errorMsg('Permissions have not been granted to use your camera and ' +
          'microphone, you need to allow the page access to your devices in ' +
          'order for the demo to work.');
      }
      errorMsg(`getUserMedia error: ${error.name}`, error);
    }

    function errorMsg(msg, error) {
      console.log(msg, error)
    }

    async function init() {
      try {
        const stream = await navigator.mediaDevices.getUserMedia(constraints);
        handleSuccess(stream);
      } catch (e) {
        handleError(e);
      }
    }

    function draw() {
      var canvas = document.querySelector('#qrCanvas')
      var context = canvas.getContext('2d')
      var video = document.querySelector('#qrVideo')
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      var data = new Uint8ClampedArray()
      data = context.getImageData(0, 0, canvas.width, canvas.height).data
      const code = jsQR(data, canvas.width, canvas.height, { inversionAttempts: 'dontInvert' });
      if (code) {
        var quantity = ''
        window.vm.decodedString = code.data
        var currentQuantity = ''
        if (window.vm.stockCheckItems[code.data]) {
          currentQuantity = window.vm.stockCheckItems[code.data]
        }
        do {
          quantity = prompt("Enter quantity for " + window.vm.decodedString, currentQuantity)
        } while (quantity && (isNaN(quantity)))
        window.vm.stockCheckItems[code.data] = quantity
      }
      setTimeout(draw, 10);
    }

    (function() {
      init()
    })()
  </script>
{% endblock page %}
